    /* Style the general set up*/
    body {
      margin: 0;
      font-family: sans-serif;
      background-color: #9b91c1;

    }

    /* Style the header*/
    header {
      font-weight: lighter;
      background-color:#9b91c1;
      padding: 40px;
    }
    
    h1 {
      margin: 0;
      font-size: 30px;
      font-weight: lighter;
    }

    /* Style the main content area */
    main {
      padding: 40px;
      background-color: #9b91c1;
      color:  	white;
    }
  
  
    #links {
      text-decoration: none; /* remove underline */
      color: #2e294e
    }

    #links1 {
      text-decoration: none; /* remove underline */
      color: #2e294e
      
    }
    

