  /* Style the general set up*/
  body {
    font-family: sans-serif;
    font-weight: lighter;
    background-color: white;
    color: black;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6; 
  }


  /* Style the top navigation */
  .topnav {
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .header {
    /* Styles for the header */
    text-align: left;
  }

  .navigation-group {
    /* Styles for the navigation links group */
    text-align: right;
  }

  .navigation {
    /* Styles for the individual navigation links */
    margin-left: 20px; /* Adjust spacing between links */
  }

  .introduction {
    font-weight: lighter;
    background-color: white;
    color: black;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 5px;
    flex: 1;
    max-width: 70%;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center vertically */
  }

  /* Style the links */
  #links {
    text-decoration: none; /* Remove underline by default */
    color: black; /* Link color */
  }

  #links:hover {
    text-decoration: none; /* Add underline on hover */
  }


  /* Style the main content area to take remaining space */
  main {
    flex: 1;
  }

    /* Footer styles */
  footer {
    background-color: #fff;
    color: black;
    font-weight: lighter;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: auto;
  }

  /* Footer container */
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Copyright text */
  .footer-copyright {
    font-size: 0.875em; /* Slightly smaller than parent element’s font size */
    margin: 0;
    text-align: left;
  }

  /* Footer navigation links */
  .footer-navigation {
    display: flex;
    align-items: center;
  }

  .footer-link {
    font-size: 0.875em; /* Slightly smaller than parent element’s font size */
    margin-left: 20px;
    color: #000;
    text-decoration: none;
  }

  .footer-link:first-child {
    margin-left: 0;
  }

  .footer-link:hover {
    text-decoration: underline;
  }



  
/* Media query for responsive design */
@media (max-width: 768px) {
  body {
      padding: 0 20px; /* Reduce padding on smaller screens */
  }

  .topnav, .introduction, footer {
      padding: 5px 20px; /* Reduce padding on smaller screens */
  }

  .navigation-group {
      text-align: left; /* Align navigation links to the left on smaller screens */
  }

  .navigation {
      margin-left: 10px; /* Reduce margin between links */
  }
}