  /* Style the general set up*/
  body {
    margin: 0;
    font-family: sans-serif;
    padding: 40;
  }

  /* Style the header*/
  header {
    font-weight: lighter;
    background-color: #fff;
    color:  	#9b91c1;
    padding: 40px;
  }
  
  h1 {
    margin: 0;
    font-size: 30px;
    font-weight: lighter;
    padding: 40;
  }

  footer {
    background-color: #fff;
    color:  	#9b91c1;
  }
   


  /* Style the main content area */
  main {
    padding: 40px;
  }

  .picture-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -1%;
  }

  .picture {
    width: 48%;
    margin: 1%;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px; /* Adjust the height value as per your requirement */
  }

  .picture img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }




  /* Show the descriptive text when hovering over an image */
  .picture:hover .description {
    opacity: 1;
  }
  
  .picture img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    height: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    overflow-y: auto;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    color: #9b91c1;
    box-sizing: border-box;
  }
  
  .description-header h2 {
    margin: 0;
    color: #9b91c1;
    max-width: 100%;
    font-weight: lighter;
  }
  
  .description-footer {
    margin-top: 20px;
    color: #9b91c1;
    max-width: 100%;
  }
  
  .description-footer a {
    color: #9b91c1;
    text-decoration: none;
  }
  
  .description-footer a:hover {
    text-decoration: underline;
    color: #9b91c1;
    max-width: 100%;
  }



  /* style the links */
  #links {
    text-decoration: none; /* remove underline */
    color: #2e294e
  }

  