:root {
    font-size: 1em;
    font-family: Helvetica, sans-serif;
    line-height: 1;
    box-sizing: border-box
  }

  body {
    background-color: lightblue;
  }

body  {
    display: grid;
    gid-gap: 1em;
  }

  

