:root {
    font-size: 1em;
    font-family: Helvetica, sans-serif;
    line-height: 1;
    box-sizing: border-box
  }

  body {
    background-color: lightblue;
  }

  .grid {
    position: relative;
  }

  .grid--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .Thumb {
    display: block;
    text-decoration: none;
  }

  a {
    color: #000;
  }
